<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import gettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor

<style>
       .login-register-content {
            background: linear-gradient(153.66deg, #416A9E 34.21%, #110D7C 102.84%);
             min-height: calc(100vh - 140px);
            display: flex;
            align-items: center;              
            justify-content: center;          
            padding-top: 120px;          
            padding-bottom: 40px;
            max-width: 100% !important;
            font-family: "IBM Plex Sans" !important;        
        }

        .two-column-container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    gap: 20px;
     align-items: flex-start;
        }

        #login-and-registration-container {
             width: 60%;
                min-width: 600px;
        }

        .image-column {
             width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    .image-column-container {
            flex-direction: column;  
            align-items: center;    
            position: relative;
            min-width: unset !important;
            padding: unset !important;
        }

        .login-img-1 {
            z-index: 1;
        }

        .login-img-2 {
            margin-top: -200px; 
            z-index: 2;
        }

        .login-register {
            background: linear-gradient(84.39deg, rgba(255, 255, 255, 0.06) -58.32%, rgba(255, 255, 255, 0.6) 86.64%);
            width: 723px;
            opacity: 1;
            border-radius: 40px;
            border-width: 3px;
            padding: 64px;
            gap: 24px;
        }

        .login-register .form-field input {
            height: 47px;
            border-radius: 8px;
            background-color: #F4F4F4 !important;
            border:none !important;
            box-shadow:
                        6.89px 6.89px 20.67px 0px #221A372E,
                        -6.89px -6.89px 20.67px 0px #FFFFFF1F,
                        0px 4px 4px 0px #00000040;
        }

        .toggle-form {
    border-bottom: .5px solid #110D7C;
    display: flex;
    gap: 30px;
}

.toggle-form a {
    text-decoration: none !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #110D7C
}

a.form-toggle:hover {
    border-bottom: 3px solid #110D7C;
    padding-bottom: 11px;
    color: #110D7C !important;
}

.form-fields {
    margin-top: 30px;
}

.login-register .action-primary{
    width: 229px;
    height: 40px;
    border-radius: 20px;
    gap: 10px;
    padding-right: 16px;
    padding-left: 16px;
    background-color:#FFCB05;
    color: #110D7C !important;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 16px !important;
    font-family: "IBM Plex Sans" !important;
    font-weight: 700 !important;
    box-shadow: none !important;

}

.login-register .form-field label {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px !important;
    line-height: 22px;
    color:#110D7C !important;
    padding: 20px 0;
}

.login-register .form-field label.focus-out {
    position: relative !important;
}

.login-register .form-field .tip {
    color: #110D7C !important; 
    font-weight: 400;
    font-size: 14px !important;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    margin-top: 20px;
    font-family: "IBM Plex Sans" !important;
}

.login-help {
    color: #110D7C !important;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    margin-top: 30px;
    font-family: "IBM Plex Sans" !important;
}

.login-register .submission-error, .financial-assistance-wrapper .financial-assistance-form .submission-error, .login-register .system-error, .financial-assistance-wrapper .financial-assistance-form .system-error {
    box-shadow: unset !important;
    border-bottom: none;
    background: #100E4A !important;
    border-radius: 8px;
    border: none !important;
    color: #ffff !important;
    list-style: none !important;
    font-family: "IBM Plex Sans" !important;
}

.login-register .submission-error .message-title {
    color: #ffff !important;
    font-family: "IBM Plex Sans" !important;
}

.login-register .status .message-copy{
    list-style: none !important;
}

.login-register .form-field .field-link {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

.login-register .action-primary:hover {
    background-color: #110D7C;
    color: white !important;
}

.submission-error {
    position: relative;
    padding-right: 40px; /* space for the icon on the right */
}

/* Add the caution icon */


.login-register .form-field .field-link>i {
    margin-left: 10px !important;
}

.login-register .form-field .field-link, .login-register .action-label{
    font-family: "IBM Plex Sans" !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #110D7C !important;
}

.login-register .section-title {
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 40px !important;
    color: #110D7C !important;
    margin-bottom: 10px !important;
    font-family: "IBM Plex Sans" !important;
    text-align: right !important;
}

.login-register .section-title.lines::after, .financial-assistance-wrapper .financial-assistance-form .section-title.lines::after {
    background: #110D7C !important;
}

.login-register .section-title.lines .text, .financial-assistance-wrapper .financial-assistance-form .section-title.lines .text {
    background: unset !important;
    font-size: 18px !important;
    color: #110D7C !important;
    top: 35px !important;
}
 
.login-register .login-provider.button-oa2-google-oauth2 {
    margin-top: 40px;
}

/* =========================
   RESPONSIVE STYLES
   ========================= */

@media (max-width: 1200px) {

    .two-column-container {
        flex-direction: column-reverse; /* puts image ABOVE the form */
        align-items: center;
    }

    #login-and-registration-container {
        min-width: unset;
    }

    .image-column {
        display: flex;
        justify-content: center;
    }

    .image-column-container img {
        max-width: 100%;
        height: auto;
    }

    .login-register {
        width: 100%;
        padding: 40px;
    }
}

@media (max-width: 991.89px){
    .login-register-content {
        margin-top: unset;
    }
}


@media (max-width: 576px) {
    .login-register-content {
        padding-top: 40px;
    }

    .login-img-2 {
    margin-top: -50px;
    z-index: 2;
}

.two-column-container{
    gap: unset;
}

#login-and-registration-container {
    width: 70%;
}

}



    </style>
</%block>


<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <!-- Two columns structure -->
            <div class="two-column-container">
                <!-- Left column with the registration form -->
                <div id="login-and-registration-container" class="login-register ${border_class}">
                    <!-- Registration form goes here -->
                </div>

                <!-- Right column with the picture -->
                <div class="image-column">
                <div class="container image-column-container">
                     <img class="login-img-1" src="${static.url('images/login_1.png')}" alt="Logo 1">
                     <img class="login-img-2" src="${static.url('images/login_2.png')}" alt="Logo 2">
                </div>
                </div>
            </div>
        </div>
    </main>
</div>

<%block name="footer">
    <%include file="/footer.html" />
</%block>
