<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />
<%!
import pytz
from django.urls import reverse
from six import text_type
from django.utils.translation import gettext as _
from custom_programs.helpers import get_completion_date, get_program_progress, get_badges_issued, get_rank_number, get_points_xp
%>
<%
    local_tz = pytz.timezone(settings.TIME_ZONE)
%>
<%block name="bodyclass">ambassador-dashboard</%block>
<%block name="pagetitle">${_("Admin Dashboard")}</%block>
<%include file="dashboard-style.html"/>
<div class="admin-instruction admin-course-details">
    <div class="container">
        <div class="form-type-slide">
            <div class="form-inner-main">
                <div class="form-left">
                    <div class="form-inner student-search">
                        <input type="text" name="student" id="student" placeholder="${_('Search Student')}" autocomplete="off">
                    </div>
                    <div class="form-inner">
                        <select name="report_type" id="report_type" class="select-style">
                            <option value="enrollment" selected>${_("Enrollment")}</option>
                            <option value="complete">${_("Completed")}</option>
                        </select>
                    </div>
                    <div class="form-inner date">
                        <div id="reportrange" class="reportrange">
                            <i class="fa fa-calendar"></i>&nbsp;<span></span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="form-inner search">
                        <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="${csrf_token}">
                        <input type="submit" value="${_('Search')}" id="search-student-enrollment" data-program=${program.id}>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-title">
            ${program.name}
            <a href="${reverse('custom_programs:admin-programs-dashboard')}" class="btn-back">${_("Back")}</a>
        </div>
        <div class="content-data-div">
            <div class="loading-image hidden">
                <img src="${static.url('images/ajax-loader1.gif')}">
            </div>
            <div class="admin-report-div">
                <div class="admin-listing-main admin-course-details">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr class="head-tabel">
                            <th align="left" valign="top">${_("Student Name")}</th>
                            <th align="left" valign="top">${_('Email')}</th>
                            <th align="left" valign="top">${_('Progress(%)')}</th>
                            <th align="left" valign="top">${_('Completed In')}</th>
                            <th align="left" valign="top">${_('Enrolled In')}</th>
                            <th align="left" valign="top">${_('Badges Issued')}</th>
                            <th align="left" valign="top">${_('Rank')}</th>
                            <th align="left" valign="top">${_('Points')}</th>
                        </tr>
                        % for enrollment in enrollments:
                            <%
                                enrollment_date = enrollment.created.replace(tzinfo=pytz.utc).astimezone(local_tz).strftime("%d/%m/%Y")
                                progress = get_program_progress(enrollment.user, enrollment.program)
                                completion_date = get_completion_date(enrollment.user.id, enrollment.program_id)
                                badges_issued = get_badges_issued(enrollment.user, enrollment.program)
                                rank_number = get_rank_number(enrollment.user, enrollment.program)
                                points_xp = get_points_xp(enrollment.user, enrollment.program)
                            %>
                            <tr>
                                <td class="second-box">
                                    % if hasattr(enrollment.user, 'profile'):
                                        ${enrollment.user.profile.name or enrollment.user.get_full_name() or enrollment.user.username}
                                    % else:
                                        ${enrollment.user.get_full_name() or enrollment.user.username}
                                    % endif
                                </td>
                                <td class="second-box">${enrollment.user.email}</td>
                                <td class="second-box">${progress}</td>
                                <td class="second-box">${completion_date}</td>
                                <td class="third-box">${enrollment_date}</td>
                                <td class="third-box">${badges_issued}</td>
                                <td class="third-box">${rank_number}</td>
                                <td class="third-box">${points_xp}</td>
                            </tr>
                        % endfor
                    </table>
                </div>
                <div class="admine-bottom">
                    % if enrollments.has_other_pages:
                        <div class="pagignation">
                            <ul>
                                % if enrollments.has_previous():
                                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                % else:
                                    <li><a href="javascript:void(0)" class="disabled"><i class="fa fa-angle-left"></i></a></li>
                                % endif
                                % if enrollments.number + (-4) > 1:
                                    <li>
                                        <a href="javascript:void(0)" data-page="${ enrollments.number + (-5) }" data-program=${program.id} class="ase-pagination-btn" >&hellip;</a>
                                    </li>
                                % endif
                                % for i in enrollments.paginator.page_range:
                                    % if enrollments.number == i:
                                        <li class="active"><a href="javascript:void(0)" class="disabled">${ i }</a></li>
                                    % elif i > enrollments.number + (-5) and i < enrollments.number + + (5):
                                        <li><a href="javascript:void(0)" data-page="${ i }" data-program=${program.id} class="ase-pagination-btn">${ i }</a></li>
                                    % endif
                                % endfor
                                % if enrollments.paginator.num_pages > enrollments.number + (4):
                                    <li>
                                        <a href="javascript:void(0)" data-page="${ enrollments.number + (5) }" data-program=${program.id} class="ase-pagination-btn">&hellip;</a>
                                    </li>
                                % endif
                                % if enrollments.has_next():
                                    <li>
                                        <a href="javascript:void(0)" data-page="${ enrollments.next_page_number() }" data-program=${program.id} class="ase-pagination-btn"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                % else:
                                    <li>
                                        <a href="javascript:void(0)" class="disabled"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                % endif
                            </ul>
                            <div style="padding-top: 10px;padding-bottom: 20px;"><p>Total ${all_enrollments} rows</p></div>
                        </div>
                    % endif
                </div>
            </div>
        </div>
        <div class="download-btn">
            <a href="javascript:void(0)" id="download-admin-enrollment-report" data-program=${program.id}>
                <img src="${static.url('images/edit-img.png')}" class="respond"> ${_("Download")}
            </a>
        </div>
        <div class="report-download-msg hidden">
            <p>${_("Report generation has been started, once generated it will be available to download. This report will be accessible for next 7 days.")}</p>
        </div>
        <div class="download-area">
            <ul class="reports-list">
            </ul>
        </div>
    </div>
</div>
<%block name="js_extra">
<script type="text/javascript">
    $(document).ready(function(){
        get_report()
        function get_report(){
            var program_id = "${program.id}"
            var URL = "/admin-dashboard/programs/"+ program_id +"/enrollments/get/reports/"
            $.ajax({
                type: "GET",
                data: {},
                url: URL,
                success: function(data) {
                    if(!$(".report-download-msg").hasClass("hidden")){
                        $(".report-download-msg").addClass('hidden')
                    }
                    $(".download-area ul").empty()
                    $.each(data.data, function( index, value ) {
                        $(".download-area ul").append('<li><a href="'+value[1]+'" target="_blank">'+value[0]+'</a></li>');
                    })
                },
                complete:function(data){
                    setTimeout(get_report, 5000);
                }
            });
        }
    })
</script>
</%block>
