<%namespace name='static' file='../static_content.html'/>
<%!
    from datetime import datetime
    from pytz import timezone, utc
    from django.utils import timezone
    from django.utils.translation import gettext as _
    from django.urls import reverse
    from django.conf import settings
    from six import text_type
    from openedx.core.djangolib.markup import HTML, Text
    from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
    from openedx.core.djangoapps.models.course_details import CourseDetails
    from custom_programs.models import ProgramEnrollmentRequest
    from achievements.models import UserBadge
    from openedx.features.course_experience import course_home_url
    from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
    from completion.utilities import get_key_to_last_completed_block
    from openedx.features.course_experience.utils import get_course_outline_block_tree, get_start_block
%>

<%inherit file="../main.html" />
<%block name="headextra">
    ## OG (Open Graph) title and description added below to give social media info to display
    ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
    <meta property="og:title" content="${program.name}" />
    <meta property="og:description" content="${program.short_description}" />
    <link rel="stylesheet" type="text/css" href="${static.url('custom_css/program.css')}">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&display=swap" rel="stylesheet">
</%block>
<%block name="pagetitle">${program.name}</%block>
<style>
.card.locked::after ,.wide-cta.locked::after{
    content: url("${static.url('images/locked.png')}");
    /* Unicode lock icon */
    font-size: 50px;
    /* Size of the icon */
    color: white;
    /* Color of the icon */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the icon precisely */
    z-index: 2;
    /* Place above the overlay */
    padding: 15px;
    /* Padding around the icon */
    border-radius: 50%;
    /* Make the background circular */
    /* Add a subtle shadow */
    display: flex;
    /* Helps in perfect centering of unicode character */
    justify-content: center;
    align-items: center;
    line-height: 1;
    /* Ensures vertical centering of the unicode character */
}


</style>
<div class="program-about">
    <div class="container">
        <section class="hero">
            <div class="row">
                <!-- This will be the leftmost column (Column 3) -->
                <div class="column column-left">
                    <div><img src="${static.url('images/internetd-icon.png')}" alt="img" class="hero-img"></div>
                </div>
                <!-- This will be the middle column (Column 2) -->
                <div class="column column-middle">
                    <h2>${program.name}</h2>
                    % if program.subject:
                        <div class="cat-name"><img src="${static.url('images/cat-icon.png')}"><span>${program.subject.name}</span></div>
                    % endif
                    <p>${program.short_description}</p>
                    <p><b>هنا تبدأ قصتك كصانع</b></p>
                    % if not user_is_enrolled:
                        <div class="enrollment-info">
                            % if program.enrollment_start >  timezone.now():
                                <span class="btn btn-cta one-click-purchase-btn disabled">${_("Enrollment Not Started Yet")}</span>
                            % elif program.enrollment_end <  timezone.now():
                                <span class="btn btn-cta one-click-purchase-btn disabled">${_("Enrollment Closed")}</span>
                            % elif not program.self_enrollment:
                                % if request.user.is_authenticated and ProgramEnrollmentRequest.get_active_request(program.id, request.user.id):
                                    <span class="btn btn-cta one-click-purchase-btn disabled">طلب التسجيل الخاص بك قيد المراجعة</span>
                                % else:
                                    <a href="${reverse('custom_programs:program_enroll', kwargs={'program_id': program.id})}" class="btn btn-cta one-click-purchase-btn active">طلب التسجيل في المسار</a>
                                % endif
                            % else:
                                <a href="${reverse('custom_programs:program_enroll', kwargs={'program_id': program.id})}" class="btn btn-cta one-click-purchase-btn active">${_("التحق في الرحلة")}</a>
                            % endif
                        </div>
                    % endif
                </div>
            </div>

    </div>
        </section>
    <!-- This will be the rightmost column (Column 1) -->
   
        % if user_is_enrolled:
        <div class="purple-icon-row">
            <div class="icon-item" id="leaderboard" role="button" tabindex="0">
                <div class="icon-circle">
                    <img src="${static.url('images/leaderboard-icon.png')}" alt="قائمة التصدر">
                </div>
                <p>قائمة التصدر</p>
            </div>

            <div class="icon-item" id="my-badges" role="button" tabindex="0">
                <div class="icon-circle">
                    <img src="${static.url('images/badges-icon.png')}" alt="شاراتي">
                </div>
                <p>أدوات الاستمرارية</p>
            </div>

            <div class="icon-item" id="certificate" role="button" tabindex="0">
                <div class="icon-circle">
                    <img src="${static.url('images/cert-icon.png')}" alt="شهاداتي">
                </div>
                <p>شهاداتي</p>
            </div>
        </div>
        % endif
        % if user_is_enrolled:
            <!-- <div class="progress-block">
                <div class="program_progress_block">
                    <div class="meter">
                        <span style="width: ${program_progress}%"></span>
                        <p>التقدم العام</p>
                    </div>
                    <div class="program_progress"><h4>${program_progress}%</h4></div>
                </div>
            </div> -->
        % endif
        <div class="courses-container" style="max-width: 1240px ;padding:20px">
        <%
            first_course = courses.filter(order=1, display_layout="horizontal").first()
        %>
        
        % if first_course:
            <%
                overview = CourseOverview.get_from_id(first_course.course.course_key)
                course_badges = UserBadge.get_my_course_badges(request.user, first_course.course.course_key)
                course_requirements = courses_requirements_not_met.get(overview.id)
                is_locked = False if user_is_enrolled else True
                if course_requirements:
                    is_locked = True
                if resume_button_urls.get(str(overview.id)):
                    course_link = resume_button_urls.get(str(overview.id))
                    button_text = "باشر بالتحدي! "
                else:
                    course_blocks = get_course_outline_block_tree(request, str(overview.id), request.user)
                    start_block = get_start_block(course_blocks)
                    course_link = start_block['lms_web_url']
                    button_text = " باشر بالتحدي!"
            %>
            <div class="wide-cta ${'locked' if is_locked else ''}" id="card-1">
                % if course_badges:
                    % for badge in course_badges:
                        <div class="badge-icon"><img src="${badge.badge.icon.url}" alt="badge"></div>
                    % endfor
                % endif
                <div class="title">${overview.display_name_with_default}</div>
                <div class="pill">
                    <a href="${course_link}" class="open-course-modal-link">${button_text}</a>
                </div>
            </div>
        % endif
        <%
            vertical_courses = courses.filter(display_layout="vertical").order_by('order')
        %>
        % if vertical_courses:
            <section class="grid">
                % for course in vertical_courses:
                    <%
                        overview = CourseOverview.get_from_id(course.course.course_key)
                        course_badges = UserBadge.get_my_course_badges(request.user, course.course.course_key)
                        course_requirements = courses_requirements_not_met.get(overview.id)
                        is_locked = False if user_is_enrolled else True
                        if course_requirements:
                            is_locked = True
                        if resume_button_urls.get(str(overview.id)):
                            course_link = resume_button_urls.get(str(overview.id))
                            button_text = "باشر بالتحدي! "
                        else:
                            course_blocks = get_course_outline_block_tree(request, str(overview.id), request.user)
                            start_block = get_start_block(course_blocks)
                            course_link = start_block['lms_web_url']
                            button_text = " باشر بالتحدي!"
                    %>
                    <article class="card ${'locked' if is_locked else ''}">
                        % if course_badges:
                            % for badge in course_badges:
                                <div class="badge-icon"><img src="${badge.badge.icon.url}" alt="badge"></div>
                            % endfor
                        % endif
                        <div class="sub">${overview.display_name_with_default}</div>
                        <div class="dark-sub">${overview.short_description}</div>
                        <div class="course-thumbnail">
                            <img src="${overview.course_image_url}" alt="image" width="100%;">
                        </div>
                        <button class="btn">
                            <a href="${course_link}" class="open-course-modal-link">${button_text}</a>
                        </button>
                    </article>
                % endfor
            </section>
        % endif
        <%
            horizontal_courses = courses.filter(display_layout="horizontal").exclude(order=1).order_by('order')
        %>
        % if horizontal_courses:
            % for course in horizontal_courses:
                <%
                    overview = CourseOverview.get_from_id(course.course.course_key)
                    course_badges = UserBadge.get_my_course_badges(request.user, course.course.course_key)
                    course_requirements = courses_requirements_not_met.get(overview.id)
                    is_locked = False if user_is_enrolled else True
                    if course_requirements:
                        is_locked = True
                    if resume_button_urls.get(str(overview.id)):
                        course_link = resume_button_urls.get(str(overview.id))
                        button_text = "باشر بالتحدي!"
                    else:
                        course_blocks = get_course_outline_block_tree(request, str(overview.id), request.user)
                        start_block = get_start_block(course_blocks)
                        course_link = start_block['lms_web_url']
                        button_text = "باشر بالتحدي! "
                %>
                <div class="wide-cta ${'locked' if is_locked else ''}" id="card-n-${course.order}">
                    % if course_badges:
                        % for badge in course_badges:
                            <div class="badge-icon"><img src="${badge.badge.icon.url}" alt="badge"></div>
                        % endfor
                    % endif
                    <span class="title">${overview.display_name_with_default}</span>
                    <span class="pill">
                        <a href="${course_link}" class="open-course-modal-link">${button_text}</a>
                    </span>
                </div>
            % endfor
        % endif
    </div>
    </div>
    <!-- Popup HTML Structure -->
    <div id="global-popup-overlay" class="popup-overlay" role="dialog" aria-modal="true" aria-labelledby="popup-title">
        <div class="popup-content">
            <button class="close-button" role="button" aria-label="Close popup" tabindex="0">&times;</button>
            <h3 id="popup-title"></h3>
            <div id="popup-dynamic-content"></div>
            <!-- This div will hold the HTML content -->
        </div>
    </div>
    <div id="leaderboard-content" style="display: none;">
        <div class="leaderboard">
            % if top_users:
                % for user in top_users:
                    <div class="row">
                        <div class="info">
                            <div class="avatar"><img src="${get_profile_image_urls_for_user(user)['medium']}" alt="avatar"></div>
                            <div class="text">
                                <div class="name">${user.profile.name or user.username}</div>
                                <div class="badges">عدد الشارات: ${user.badge_count}</div>
                            </div>
                        </div>
                        <div class="grade">الوسام الذهبي</div>
                    </div>
                % endfor
            % else:
                <p class="no-badge">
                    ${_("No users have earned badges yet.")}
                </p>
            % endif
        </div>
    </div>
    <div id="my-badges-content" style="display: none;">
        <p>تهانينا على الشارات التي جمعتها! كل شارة تمثل إنجازاً جديداً.</p>
        <div class="badge-grid">
            % for badge in my_badges:
                <div class="badge-item">
                    <img src="${badge.badge.icon.url}" alt="${badge.badge.title}">
                    <p>${badge.badge.title}</p>
                </div>
            % endfor
        </div>
        <p>هناك المزيد من الشارات بانتظارك!</p>
    </div>
    <div id="certificate-content" style="display: none;">
        <p>عند إكمال الدورة بنجاح، ستظهر شهادتك هنا جاهزة للتنزيل.</p>
        <p>أنت على بعد خطوة واحدة من الحصول على شهادتك المعتمدة. أكمل جميع المهام والتقييمات النهائية.</p>
        <a href="#" class="download-btn" onclick="alert('لم يتم استكمال الدورة بعد، لا توجد شهادة لتنزيلها.'); return false;">تنزيل الشهادة</a>
        <p style="font-size: 0.9em; margin-top: 20px;">(الرابط سيصبح فعالاً بعد إتمام الدورة)</p>
    </div>

    <div id="courseModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:1000;">
        <div style="position:relative; width:90%; height:90%; margin:2% auto; background:#fff; border-radius:8px; overflow:hidden;">
            <button class="close-button" role="button" aria-label="Close popup" tabindex="0">&times;</button>
            <iframe allowfullscreen="" frameborder="0" height="100%" id="courseFrame" width="100%"></iframe>
        </div>
    </div>
</div>
<%block name="js_extra">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get references to the clickable divs
            var leaderboardDiv = document.getElementById('leaderboard');
            var myBadgesDiv = document.getElementById('my-badges');
            var certificateDiv = document.getElementById('certificate');

            // Get references to the popup elements
            var popupOverlay = document.getElementById('global-popup-overlay');
            var popupTitle = document.getElementById('popup-title');
            var popupDynamicContent = document.getElementById('popup-dynamic-content');
            var closeButton = popupOverlay ? popupOverlay.querySelector('.close-button') : null;

            /**
             * Shows the popup with the given title and HTML content.
             * @param {string} title - The title for the popup.
             * @param {string} htmlContent - The HTML string content for the popup body.
             */
            function showPopup(title, htmlContent) {
                if (!popupOverlay || !popupTitle || !popupDynamicContent) return;
                popupTitle.textContent = title;
                popupDynamicContent.innerHTML = htmlContent;
                popupOverlay.classList.add('visible');
                document.body.style.overflow = 'hidden';
                if (closeButton) {
                    closeButton.focus();
                }
            }

            /**
             * Hides the popup.
             */
            function hidePopup() {
                if (!popupOverlay) return;
                popupOverlay.classList.remove('visible');
                document.body.style.overflow = '';
            }

            // Define HTML content for each popup type
            var leaderboardHTML = document.getElementById('leaderboard-content').innerHTML;

            var myBadgesHTML = document.getElementById('my-badges-content').innerHTML;

            var certificateHTML = document.getElementById('certificate-content').innerHTML;

            // Add click event listeners to the divs
            if (leaderboardDiv) {
                leaderboardDiv.addEventListener('click', function () {
                    showPopup('قائمة التصدر', leaderboardHTML);
                });
            }

            if (myBadgesDiv) {
                myBadgesDiv.addEventListener('click', function () {
                    showPopup('شاراتي', myBadgesHTML);
                });
            }

            if (certificateDiv) {
                certificateDiv.addEventListener('click', function () {
                    showPopup('شهادتي', certificateHTML);
                });
            }

            // Add event listener to close the popup when the close button is clicked
            if (closeButton) {
                closeButton.addEventListener('click', hidePopup);
            }

            // Close popup when clicking outside the content area
            if (popupOverlay) {
                popupOverlay.addEventListener('click', function (event) {
                    if (event.target === popupOverlay) {
                        hidePopup();
                    }
                });
            }

            // Close popup when Escape key is pressed
            document.addEventListener('keydown', function (event) {
                if (event.key === 'Escape' && popupOverlay && popupOverlay.classList.contains('visible')) {
                    hidePopup();
                }
            });
        });
    </script>
    <script>
        // Use jQuery for modal open/close behavior on all .open-course-modal-link anchor tags
        $(function() {
            // Open the modal and load the correct href in the iframe
            $(document).on('click', '.open-course-modal-link', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $('#courseFrame').attr('src', href);
                $('#courseModal').css('display', 'block');
            });
            // Close modal on close button
            $('.close-button').on('click', function() {
                $('#courseFrame').attr('src', '');
                $('#courseModal').css('display', 'none');
            });
            // Optional: Close modal when clicking outside modal content
            $('#courseModal').on('click', function(event) {
                if (event.target === this) {
                    $('#courseFrame').attr('src', '');
                    $('#courseModal').css('display', 'none');
                }
            });
        });
    </script>


</%block>