<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
from django.utils.translation import gettext as _
from django.urls import reverse
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="content">
  <main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
     <%include file="courseware/courses.html" />
    </section>
  </main>
</%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(window).on('load', function() {
      if (getParameterByName('next')) {
        $('#login').trigger("click");
      }
    });
  </script>
</%block>
