#courseTabsNavigation.course-tabs-navigation {
  display: none !important;
}

section.outline-sidebar.w-100 {
  display: none !important;
}

.outline-sidebar-wrapper {
  display: none !important;
}

header.learning-header {
  display: none !important;
}

.unit-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 1591px !important;
}

.outline-sidebar-heading-wrapper.bg-light-200.collapsed.align-self-start.flex-shrink-0.mr-4.p-2\.5 {
  display: none !important;
}

section#course-sidebar {
  display: none;
}

.bg-primary.text-white {
  display: none;
}
